NEXUS_ENVIRONMENT=production
PDM_BASE_URL=https://127.0.0.1:8443
PDM_VERIFY_TLS=false
PDM_HEALTH_PATH=/api2/json/version
NEXUS_SIGNOZ_URL=http://192.168.0.47:8080
NEXUS_SIGNOZ_API_KEY=
SIGNOZ_OTLP_ENDPOINT=192.168.0.47:4317
